.container {
  margin: 20px;
  border: 1px dotted #c2c2c2;
  position: relative;
}

.modal-header {
  font: 16px 'Montserrat'
}

ul {
  padding: 0;
}

li {
  margin: 0 5px;
  list-style: none;
  padding: 5px;
}
